<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Top movies</title>
    <style>
        .even {
            background-color: #ECECEC;
        }
        .odd {
            background-color: #CCCCCC;
        }
    </style>
</head>
<body>

<table>
    <thead>
    <tr>
        <th>Rank</th>
        <th>Title</th>
        <th>Year</th>
        <th>Rating</th>
        <th>About</th>
    </tr>
    </thead>
    <tbody>
        {% for movie in movies | sort(reverse = true,attribute="rating")%}
        <tr class="{{ loop.cycle('odd','even') }}">
            <td>{{ loop.index }}</td>
            <td> {{ movie.title }} </td>
            <td> {{ movie.year }} </td>
            <td> {{ movie.rating }} </td>
            <td> {{ movie.synopsis | truncate(80) }} <br>
                    {{ movie.url |urlize}}
            </td>
        </tr>
        {% endfor %}
        {# TODO: Display movies here #}
    </tbody>
</table>

</body>
</html>